__pycache__/
*.log
.DS_Store
*.dat
*.dump
*.dump.gz
.coverage*
pyiron_glass_api/scratch/tasks.db
pyiron_glass_api/scratch/meltquench/melt_quench_simulation_e2eccb575ad182b751322d0498eefaac.h5
pyiron_glass_api/scratch/meltquench/melt_quench_simulation_8f5281ad5dbe7c78edf52a6338088bd2.h5
pyiron_glass_api/scratch/meltquench/melt_quench_simulation_3df8288877c88496061e6f0350adb331.h5
pyiron_glass_api/scratch/meltquench/get_structure_dict_fb6444953ce33732c2d5e3a702746350.h5
pyiron_glass_api/scratch/meltquench/get_structure_dict_5de08589168cb3ab6af88e57e0071f38.h5
pyiron_glass_api/scratch/meltquench/get_structure_dict_1b16e2c1e1d1056c8c4e7ea29daa3392.h5
pyiron_glass_api/scratch/meltquench/get_ase_structure_fb781d815417f2399009a45c7fdd5a48.h5
pyiron_glass_api/scratch/meltquench/get_ase_structure_e6773710f6f98840fd3e2f4c49c3beed.h5
pyiron_glass_api/scratch/meltquench/get_ase_structure_971df8666c918d1b71afb9a592b26da2.h5
pyiron_glass_api/scratch/meltquench/get_ase_structure_452d8db58a86b2011cd610d90539db58.h5
pyiron_glass_api/scratch/meltquench/generate_potential_d21d073d78668ca5c88c0a8888b75371.h5
pyiron_glass_api/scratch/meltquench/generate_potential_9de952c12b922fefe86802a822ea8b53.h5
pyiron_glass_api/scratch/meltquench/generate_potential_6d883c6f9785650415810b50cb91ab1f.h5
